.submit-btn-signup {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    border-radius: .3rem;
    border: 1px solid transparent;
    float: right;
    height: 50px;
    margin-top: 4px;
    cursor: pointer;
}

  .form-container-signup{
    margin-top: 10px;
    margin-bottom: 20px;
  }


.title-signup{
      font-size: 2.5rem;
      font-weight: 600;
      text-align: center;
  }

  .linksignup{
    text-align: center;
    color: #5cb85c;
  }
  
  .linksignup a, .linksignup a.hover{
    color: #5cb85c !important;
  }

  .form-control-signup {
    width: 400px;
    height: 56px;
    margin-top: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 1.25rem;
    border-radius: .3rem;
  }

  .container-signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}