.feed-container{
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
}

.ant-tabs-tab.ant-tabs-tab-active{
    color :#5cb85c !important;
    border-bottom-color :#5cb85c;
}
.ant-tabs-ink-bar{
    background: #5cb85c !important;
}

.ant-tabs-tab:hover{
    color :#5cb85c !important;
}

.ant-tabs-tab:hover{
    color :#5cb85c;
}

.feed-item-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-top: 24px;
    padding-bottom: 24px;
}
.feed-user-detail{
    display: flex;
}
.feed-user-detail-img{
    border-radius: 50%;
}
.feed-username-date{
    margin-left: 10px;
}
.feed-username{
    font-size: 18px;
    font-weight: 500;
    color: #5cb85c;
    cursor: pointer;
}
.feed-item-date{
    color: #bbb;
    font-size: .8rem;
}
.feed-desc{
    margin-top: 10px;
}
.feed-desc-title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 3px;
    cursor: pointer;
}
.feed-desc-info{
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.3rem;
    cursor: pointer;
}
.feed-more{
    font-size: .8rem;
    font-weight: 300;
    color: #bbb;
    cursor: pointer;
}

.username-link{
    color :#5cb85c;
}
.title-link{
    color:black
}
.description-link{
    color : #999
}
.feed-tab{
    flex: 8;
}
.feed-tag{
    flex: 2;
    padding: 5px 10px 10px;
    margin-left: 20px;
    background: #f3f3f3;
    border-radius: 4px;
    height: 350px;
}
.tag-title{
    font-size: medium;
    font-weight: 600;
}
.tag-item{
    background-color: #818a91;
    color: #fff!important;
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
    display: inline-block;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.page-link{
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    color: #5cb85c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
ul.tag-list {
    float: right;
    padding-left: 0!important;
    display: inline-block;
    list-style: none!important;
}
.feed-tab ul li {
    font-weight: 300;
    font-size: .8rem!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.tag-default.tag-outline {
    border: 1px solid #ddd;
    color: #aaa!important;
    background: 0 0!important;
}
ul.tag-list li {
    display: inline-block!important;
}
.tag-default {
    color: #fff!important;
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
    display: inline-block;
}
.tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
ul.tag-list {
    padding-left: 0!important;
    display: inline-block;
    list-style: none!important;
}

.banner{
    background: #5cb85c;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
    margin-top : 56px;
    padding: 32px;
    margin-bottom: 32px;
}
.descriptionBanner {
    font-size: 25px;
    font-weight: 300;

}

.container-home{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color : white
}

.titleHomePage{
    font-size: 40px;
    font-weight: 700!important;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.feed-favorite{
    float: right!important;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    border: 1px solid transparent;
}
.feed-favorite-btn{
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
}